$border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

.navbar {
  height: 100dvh;
  flex: 1 0 300px;
  border-right: $border;
}

.navbar--collapsed {
  flex-basis: 70px;
}

.header {
  border-bottom: $border;
}

.divider {
  border-top: $border;
  height: 1px;
}
