@mixin hover {
  text-decoration: none;
  background-color: var(--mantine-color-teal-8);
  color: var(--mantine-color-white);

  .icon {
    color: var(--mantine-color-white);
  }
}

.icon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}

.link {
  display: flex;
  align-items: center;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  &:hover {
    @include hover;
  }
}

.link--active {
  @include hover;
}

.link--collapsed {
  padding: 5px;

  .icon {
    margin-right: 0;
  }
}
